@keyframes rotation{
    from{
      transform: rotateY(0deg);
    }
    to{
      transform: rotateY(360deg);
    }
}



.Gallery-container{
    width:100%;
    height:100%;
    position: absolute;
    perspective: 2100px;
}

.Gallery-container #overlay{
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  font-size: 100px;
  transform:translateZ(450px);
  background-color:(0,0,0,1);
  cursor: pointer;
  color:blue;
  
}

.Gallery-container #overlay .prev{
    color:grey;
    font-size: 80px;
    position: absolute;
    left:15%;
    top:30%;
    z-index: 20;
}
.Gallery-container #overlay .prev:hover{
  color:yellowgreen;
}

.Gallery-container #overlay .next{
  color:grey;
  font-size: 80px;
  position: absolute;
  float:right;
  right:15%;
  top:30%;

}

.Gallery-container #overlay .next:hover{
  color:yellowgreen;
}

.Gallery-container #overlay .background{
  width:100%;
  height:100%;
  position: absolute;
  z-index:-1;
}


.Gallery-container #overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.Gallery-container #Gallery{
    width:100%;
    height:100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    transform-style: preserve-3d;
    animation: rotation 30s infinite linear;
}

#Gallery .Photos{
    width: 210px;
    height: 210px;
    line-height: 210px;
    left:40%;
    position: absolute;
    display: block;
    overflow: hidden;
    border: solid 5px black;
    transition: all .5s ease;
    cursor: pointer;
}

#Gallery .Photo:hover {
    cursor: pointer;

}



