.component-navigation{
    width:100%;
    height:100%;

}
.component-navigation .Nav{
    width:100%;
    height:100%;
    float:left;
    
}
.component-navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    height:100%;
}

.component-navigation ul li{
    margin-top:3%;

}
.component-navigation ul li a{ 

    font-size:30px;
    display:block;
    color:white;
    text-align: center;
    padding:5% 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    transition: all 0.2s linear;

}

.component-navigation li a:hover:not(.active) {
    font-size:35px;
    border-style:groove;
    border-color: rgba(162, 182, 238, 0.233);
    color: white;
}

.component-navigation .Nav.horizontal ul li{
    float: left;
    height:100%;
}