.component-navlogo{
    width:100%;
    height:100%;
}

.component-navlogo .logos{
    right:0;
}
.component-navlogo .logos ul{
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    height:100%;
}
.component-navlogo .logos ul li{
    margin-top:3%;
    float:left;
    height:100%;
}
.component-navlogo .logos ul li a{
    margin-top:3%;
    margin-right:2em;
}

.component-navlogo .logos ul li a img{
    width:2.5em;
    height:2.5em;
    transition: all 0.2s linear;
}

.component-navlogo .logos ul li a:hover:not(.active) img{
    width:3em;
    height:3em;
}

