#navigation{
    flex:1;
    float:left;
    width:33%;
    background:white;
}
#description{
    flex:2;
    float:left;
    color: white;
    width:66%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    text-align: center;
}

.info{
    display: flex;
    flex-direction: row;
}