#navigation{
    flex:1;
    float:left;
    
}
#description{
    flex:1;
    float:left;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
#music{
    flex:1;
    border-style: double;
    float:left;
}

#info{
    display: flex;
    flex-direction: row;
    align-items: stretch;
}