.time{
    display: flex;
    display: -webkit-box; 
    border-color: white;
    color:white;
    width:100%;
}

.duration{
    flex: 1;
    float:left;
}

.currentTime{
    flex:1;
    float:left;
}
