.time{
    display: flex;
    position: absolute;
    border-color: white;
    border-style: dotted;
    color:white;
    width:300px;
}

.duration{
    flex: 1;
    float:left;
}

.currentTime{
    flex:1;
    float:left;
}

.progress-bar{
    flex: 2;
    float:left;
    margin-top:auto;
    margin-bottom: auto;
}