body{
    background:black;
    width:100%;
    height:100%;
    margin: 0 auto;
    text-align: left;

}

body .logobar{
    width:100%;
    position: fixed;
    display:table-footer-group;
    bottom:0;
}